<div>
    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "",
        "alternateName": "",
        "url": "",
        "logo": ""
    }
    </script>
</div>